<html>
    {% load static %}
    <head>
        {% include 'html/header.html' %}
        <!--style>
            body {
                background-image: url("{% static 'img/background1.jpg' %}");
                background-size: cover;
                padding: 20px;
            }
        </style-->
    </head>
    <script>
        $(function() {
            $("#main").load("{% static 'html/summary.html' %}");

            $("#summary").click(function() {
                $("#main").load("{% static 'html/summary.html' %}");
            });

            $("#manage").click(function() {
                $("#main").load("{% static 'html/manage.html' %}");
            });
        });
    </script>
    <body>
        <div class="container fluid">
            <div class="row">
                {% include 'html/nav.html' %}
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        {% include 'html/left_nav.html' %}
                    </div>
                    <div class="col-8">
                        <div id="main"></div>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>